@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
    --primary: rgb(71, 46, 50);
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif ;
    font-weight: 400;
}
body {
    transition: all 1s;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

#quote-box {
    padding: 2rem;
    border-radius: 3px;
    max-width: 60%;
    margin-bottom: 1rem;
}

.quote-text{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.quote-author {
    text-align: end;
    margin: 1.8rem 0;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-button a {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--primary);
    margin-right: 0.5rem;
    transition: all 1s;
}

#new-quote {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
}